/* body {
    background-color: green;
  }
   */

  h1 {
    color: black;
    font-size: 40px;
    
  }

  p {
    font-family: "Times New Roman", Serif;
  font-size: 20px;
  }

  /* .checkbox-form {

    background-color: darkblue;

  } */

.agile {
    text-align: center;
}

.about {
    padding-top: 08rem;
}